<section>
                  <header class="main">
                     <h1>Generic</h1>
                  </header>
                  <span class="image main"><img src="images/pic11.jpg" alt="" /></span>
                  <p>
                     Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.
                  </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
                  <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>
               </section>
               <div class="8u 12u$(xsmall) list_comment">
                  <div class="txt_comment">
                     <span class="icon"><img src="http://www.w3schools.com/w3images/boy.jpg" width="100" class="circle avartar"></span>
                     <h4>Ly Duc Long</h4>
                     <section>
                        <a href="#" class="icon fa-pencil"></a>
                        <div class="space">|</div>
                        <a href="#" class="icon fa-trash"></a>
                     </section>
                     <p>
                        imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris
                     <dir>
                        Comment at: 154 day ago
                        <div class="space">|</div>
                        <a href="#">Reply</a>
                     </dir>
                     </p>
                  </div>
                  <hr>
                  <div class="txt_comment">
                     <span class="icon"><img src="http://www.w3schools.com/w3images/boy.jpg" width="100" class="circle avartar">
                     </span>
                     <h4>Ly Duc Long</h4>
                     <section>
                        <a href="#" class="icon fa-pencil"></a>
                        <div class="space">|</div>
                        <a href="#" class="icon fa-trash"></a>
                     </section>
                     <p>
                        imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris
                     <dir>
                        Comment at: 154 day ago
                        <div class="space">|</div>
                        <a href="#">Reply</a>
                     </dir>
                     </p>
                  </div>
                  <hr>
                  <div class="txt_comment">
                     <span class="icon"><img src="http://www.w3schools.com/w3images/boy.jpg" width="100" class="circle avartar"></span>
                     <h4>Ly Duc Long</h4>
                     <section>
                        <a href="#" class="icon fa-pencil"></a>
                        <div class="space">|</div>
                        <a href="#" class="icon fa-trash"></a>
                     </section>
                     <p>
                        imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris
                     <dir>
                        Comment at: 154 day ago
                        <div class="space">|</div>
                        <a href="#">Reply</a>
                     </dir>
                     </p>
                  </div>
                  <div class="12u 12u$(xsmall) list_comment">
                     <textarea name="demo-message" placeholder="Enter your message"></textarea>
                     <button class="button">Comment</button>
                  </div>
               </div>
               <section class="form">
                  <div class="6u 12u$(xsmall)">
                     <input type="text" name="demo-name" class="input" value="" placeholder="Name">
                     <input type="text" name="demo-name" class="input" value="" placeholder="Name">
                     <input type="text" name="demo-name" class="input" value="" placeholder="Name">
                     <input type="checkbox" id="demo-abc" name="demo-abc" checked>
                     <label for="demo-abc">I am a human</label>
                     <input type="radio" id="demo" name="demo-abc" checked>
                     <label for="demo">I am a human</label>
                     <input type="radio" id="demos" name="demo-abc" checked>
                     <label for="demos">I am a human</label>
                     <button class="button">Submit</button>
                  </div>
               </section>
