<div class="item  col-xs-4 col-lg-4">
  <div class="thumbnail">
      <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          <%= link_to @album.name, management_album_path(@album) %></h4>
      </div>
  </div>
</div>
