@import 'bootstrap-sprockets';
@import 'bootstrap';

.modal-backdrop {
  z-index: -1;
}
.innerpage {
margin-top: 50px;
}

.bootstrap-select button {
color: #9b8f8f!important;
text-transform: none!important;
font-family: Open Sans!important;
font-size: 1em;
}

.bootstrap-select button:hover {
background-color: transparent!important;
}

dropdown-menu:hover {
background-color: red!important;
}

.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
background-color: transparent;
}

.bootstrap-select.btn-group .dropdown-menu li a {
border-bottom: 1px solid #cecece!important;
}

.text_area {
min-width: 50em;
min-height: 8em;
}

#hour,
#days {
height: 40px;
border-radius: 5px;
border: solid 1px #cecece;
}

#hour {
float: left;
margin-right: 10px;
width: 80%;
}

.hint {
margin: 5px;
}

.dropdown-menu{
left:-120px;
}

.user-row {
margin-bottom: 14px;
}

.user-row:last-child {
margin-bottom: 0;
}

.dropdown-user {
margin: 13px 0;
padding: 5px;
height: 100%;
}

.dropdown-user:hover {
cursor: pointer;
}

.table-user-information > tbody > tr {
border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
border-top: 0;
}

.table-user-information > tbody > tr > td {
border-top: 0;
}

.toppad{
margin-top:20px;
}

.right{
float: right;
}

.circle-profile {
width: 200px;
height: 200px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 1000px;
}
.notication{
text-decoration: underline;
}
.glyphicon{
font-size:30px;
color:orange;
}
.glyphicon:hover{
color: #FF6347;
}
.rating-input{
float:left;
margin-right:10px;
}
.rating_rs{
font-size:22px;
}
.in-out{
width:40%;
}
.nav-event{
color:#F56A6A;
font-family: Raleway;
font-style: Italic;
border-bottom: solid 1px #cecece;
margin-bottom:15px;
}
footer-session{
border-top: solid 1px #cecece;
float:right;
font-style: Italic;
}
a{
border:none!important;
}
li{
list-style:none;
}
.choose_event input,label{
left:15px;
}
h4 a{
color: #3b3b3b;
}
h3 .dis{
color:#848484!important;
}
.space{
color:gray;
}
#join_button{
outline:none;
box-shadow:none;
padding-left:0px;
}
#join_button:hover{
background-color:transparent;
}
#new_user_event{
display: inline-block;
}

/* table */
// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}
